.Interactive {
    display: grid;
    grid-template-columns: 220px auto;
}
.Interactive .Settings {
    grid-column: 1;
}
.Interactive p {
    grid-column: 1/3;
}
.Interactive form {
    text-align: left;
}
